black[jupyter]
catboost
cleanlab[all]
deep-translator
duckdb
earthengine-api
fasttreeshap
fastparquet
folium
gdal
geemap
geopandas
geowrangler==0.1.1
googlemaps
hvplot>=0.9.1
interpret
ipywidgets
jupyterlab
lightgbm
loguru
mapclassify
mapie
matplotlib
numpy
pandas
polars
pre-commit
pyarrow
pygeos
pytest
python-geohash
rasterio
rasterstats
rtree
scikit-learn==1.4
seaborn
segment-geospatial
shap
shapash
skops
xgboost
